.background {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1f41a9;
  background-image: url('assets/left-top.svg'), url('assets/left-bottom.svg'), url('assets/right-bottom.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top, left bottom, right bottom;
  background-size: 30rem, 30rem, 30rem;
}
